# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Frontend Co-Owners
/client/              @karthikeyanpa12 @shangan23 @ramsunvtech @naveenvignesh5 @jpukg

# API Co-Owners
/api/              @jpukg @ramsunvtech @shangan23 @karthikeyanpa12 @naveenvignesh5